apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: pet-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Pet is the Schema for the pets API.
      displayName: Pet
      kind: Pet
      name: pets.petstore.example.com
      version: v1alpha1
  description: pet operator
  displayName: pet
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - pet
  links:
  - name: Pet Operator
    url: https://pet-operator.domain
  maturity: alpha
  provider:
    name: savagame
  version: 0.0.0
