---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: pets.petstore.example.com
spec:
  group: petstore.example.com
  names:
    kind: Pet
    listKind: PetList
    plural: pets
    singular: pet
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Pet is the Schema for the pets API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PetSpec defines the desired state of Pet.
            properties:
              name:
                description: Name of the pet
                type: string
              type:
                description: Type of the pet
                type: string
            required:
            - name
            - type
            type: object
          status:
            properties:
              state:
                description: State represents controller state
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
